<a href="https://colab.research.google.com/github/tmdgus0615/python/blob/main/%EA%B3%BC%EC%A0%9C11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numList = [0, 0, 0, 0, 0]

numList[0] = input("숫자 : ")
numList[1] = input("숫자 : ")
numList[2] = input("숫자 : ")
numList[3] = input("숫자 : ")
numList[4] = input("숫자 : ")

sum = int(numList[0]) + int(numList[1]) + int(numList[2]) + int(numList[3]) + int(numList[4])
print("리스트의 합계 : ", sum)

숫자 : 10
숫자 : 20
숫자 : 30
숫자 : 40
숫자 : 50
리스트의 합계 :  150

In [5]:
numList = [10, 20, 30]

In [6]:
mylist = []
mylist.append("안산")
mylist.append("공고")
mylist.append("3107")
mylist.append("777")

print(mylist)

['안산', '공고', '3107', '777']

In [14]:
import random
wordlist = ["중요한 것은 꺾이지 않는 마음", 
            "너 자신을 알라", 
            "신은 용기있는 자를 결코 버리지않는다", 
            "피할 수 없다면 즐겨라", 
            "내일은 내일의 태양이 뜬다", 
            "이 또한 지나가리라", 
            "명언이 또 하나 늘었다"]

rnd_say = random.choice(wordlist)
print("오늘의 명언 ==> ", rnd_say)

오늘의 명언 ==>  신은 용기있는 자를 결코 버리지않는다

In [18]:
import datetime

now = datetime.date.today()
birthday = datetime.date(2005,6,15)
age = now - birthday
print(age.days/365)

17.83013698630137

In [20]:
import datetime

now = datetime.date.today()
dday = datetime.date(2023,11,16)
test = dday - now
print(test.days)

220